<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="MPC.PlanSched.UI.styles.css" rel="stylesheet" />
    <link href="/css/Styles.css" rel="stylesheet" />
    <link href="/css/fontIcons/css/all.css" rel="stylesheet" />
    <link id="TelerikThemeLink" rel="stylesheet" href="/css/themes/marathon-light.css" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js" defer></script>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>

