@page "/{selectedRole}/marketoutlook"
<div>
    <tableau-viz id='tableau-viz'
        src='https://tableau.mgroupnet.com/views/MarketOutlook/Dashboard' 
        hide-edit-button toolbar="top" >
    </tableau-viz>
</div>

@code {
    [Parameter]
    public string SelectedRole { get; set; }
}
