@page "/{selectedRole}/southvalt-southbenefit"
<div>
    <tableau-viz id='tableau-viz'
        src='https://tableau.mgroupnet.com/views/VALTSouth/SouthBenefit'
        hide-edit-button toolbar='top' >
    </tableau-viz>
</div>

@code {
    [Parameter]
    public string SelectedRole { get; set; }
}
