/* _content/MPC.PlanSched.UI/Pages/Start/Start.razor.rz.scp.css */
.start-layout[b-n8qlgqx0f2] {
    min-height:50vh;
}

    .start-layout a[b-n8qlgqx0f2] {
        font-family: opensans-bold;
        font-size: 18px;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
        .start-layout a:hover[b-n8qlgqx0f2] {
            color: #113c85;
        }


    .start-layout h5[b-n8qlgqx0f2] {
        font-family: opensans-bold;
        font-size: 22px;
        color: black;
        text-decoration: none;
    }

.transparent-box[b-n8qlgqx0f2] {
    background: rgba(255, 255, 255, .65);
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,.2);
    position: relative;
}

    .transparent-box > div:nth-child(2)[b-n8qlgqx0f2] {
        border-bottom: 3px solid #DD1746;
    }

    .transparent-box > div:last-child[b-n8qlgqx0f2] {
        padding: 1.5rem 4rem !important;
    }

    .transparent-box > div:last-child > div > div[b-n8qlgqx0f2] {
        border-right: 1px solid #DD1746;
    }

    .transparent-box > div:last-child > div > div:last-child[b-n8qlgqx0f2] {
        border: 0;
    }
