<div class="mpc-top-header">
    <nav class="k-breadcrumb k-breadcrumb-md">
        <ol class="k-breadcrumb-container">
            <li class="k-breadcrumb k-breadcrumb-item">
                <a href="/" class="k-breadcrumb-link">Home</a>
            </li>
            <li class="k-breadcrumb k-breadcrumb-item">
                <span class="bread-crumb-spacer">----</span>
                <a href="/about" class="k-breadcrumb-link">About</a>
            </li>
            <li class="k-breadcrumb k-breadcrumb-item">
                <span class="bread-crumb-spacer">----</span>
                <a href="/cards" class="k-breadcrumb-link"><i class="fa-solid fa-table-cells"></i> Cards</a>
            </li>
        </ol>
    </nav>
</div>

